.navbar {
  @apply h-20 w-full bg-primary fixed top-0 text-light;

  & .navbar__container {
    @apply max-w-7xl h-full mx-auto flex items-center justify-between px-4;
  }

  & .navbar__title {
    @apply font-black text-xl2 tracking-wide;
  }

  & .navbar__link-list {
    @apply flex items-center;
  }

  & .navbar__link {
    @apply ml-6 text-lg font-semibold;
  }
}
